---
Desenvolvido por **Silvanei Martins**
"""

gitignore_content = """*.exe
*.o
*.obj
*.a
*.lib
*.dll
build/
.vscode/
*.log
"""

with open("README.md", "w", encoding="utf-8") as f:
    f.write(readme_content)

with open(".gitignore", "w", encoding="utf-8") as f:
    f.write(gitignore_content)